{
    "extends": ["wesbos", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "no-unused-vars": "warn",
        "no-console": "off",
        "func-names": "off",
        "no-process-exit": "off",
        "object-shorthand": "off",
        "indent": ["error", 4]
    },
    "plugins": ["prettier"]
}